//Value variables
$max-width: 700px;
$min-width: 320px;
$one-hundred-percentage: 100%;
$header-height: 70px;

//Color Variables
$green: #5ad47d;
$blue: #3c9dc5;
$blue-darker: #2c667d;
$white: #fff;
$black: #000;
$font-default-grey: #4d4d4d;
$border-grey: #b2b2b2;

//Font sizes and weights variables
$menu-font-size: 18px;
$header-name-desktop: 25px;
$font-weight-200: 200;
$font-size-default: 16px;

//layout variables
$grid-gutter-width: 40px;

//Spinner variables
$spinner-width: 26px;
$spinner-height: $spinner-width;

//Media queries variables
$tablet: 1024px;
$mobile: 767px;