@import "../variables";
@import "../mixins/mixins";
@import "../mixins/flexbox";

.btn{
    width: 100%;
    line-height: 50px;
    font-size: $font-size-default;
    @include border-radius(4px);
    border: 1px solid $blue;
    margin-top: 25px;
    color: white;
    background-color: $blue;
    @include transition(0.5s);
    text-align: center;
    font-weight: bold;

    &:hover, 
    &:focus{
    	background-color: darken($blue, 15%);
        border: 1px solid darken($blue, 15%);
    	outline: none;
    	@include transition(0.5s);
    	cursor: pointer;
    }
}

.btn-spinner{
    position: relative;

    .btn-description{
        text-align: center;
        font-size: $font-size-default;
        margin-bottom: 0;  
        padding-left: 0;  
    }


    .loading-description {
        font-weight: bold;
        padding-left: 24px;
    }

    .spinner-container{
        position: absolute;
        left: 0px;
        right: 90px;
        top: 24px;
        margin: 0 auto;
        display: block;
        bottom: 0;
        border-radius: 50%;
    }

    .hidden{
        display: none;
        opacity: 0;
    }
}

.btn-loading{
    background-color: darken($blue, 20%);
    border-color: darken($blue, 20%);


    &:hover,
    &:focus{
        background-color: darken($blue, 20%);
        border-color: darken($blue, 20%);
    }
}

@media screen and (max-width: $mobile){

    .btn-spinner{

        .loading-description{
            padding-left: 15px;
        }

        .spinner-container{
            right: 100px;        
        }

    }
}


