@import "../variables";
@import "../mixins/mixins";

.spinner-container{
	width: $spinner-width;
	height: $spinner-height;
	margin-top: 7px;
    margin-right: $grid-gutter-width/4;
   	@include translate(-50%, -50%);
}

.spinner{
	width: $spinner-width;
	height: $spinner-height;
	border-radius: 50%;	
	animation: rotate 1s linear infinite;
}

.gradient-border{
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(159,203,238,0) 74%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(159,203,238,0) 74%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(159,203,238,0) 74%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

    .gradient-inner-bg{
    	background: darken($blue, 20%);
    	@include translate(-50%, -50%);
 		position: absolute;
    	border-radius: 50%;
        top: 13px;
        left: 13px;
        right: 10px;
        bottom: 0;
        width: 21px;
        height: 21px;
    }
}


@keyframes rotate{

	from{
        @include rotate(0deg);
	}

	to{
		@include rotate(360deg);
	}
}